@page "/"
@using BlazorComponents.Components

<TitlePage>Blazor Components</TitlePage>

<SectionBox Col="12">

    <p>
        <strong>Descrição: </strong> Aplicação simples em .Net Core 3.1 apresentando a utilização de componentes UI em Blazor.
    </p>

    <p class="mb-0">
        Veja mais em: <a href="https://github.com/amandasdn/ASPNET_Blazor_Components/" target="_blank">Github.com/<strong>amandasdn</strong> <i class="fas fa-external-link-alt pl-1" /></a>
    </p>

</SectionBox>